main {
    padding: 20px;
}

.field {
    margin-bottom: 32px;
}

label {
    color: #000;
    display: block;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 8px;
}

.label-checkbox {
    display: flex;
}

.label-checkbox input {
    margin-right: 10px;
}

.Header {
    color: #fff;
    background: linear-gradient(135deg,#003de5,#7964ff);
    padding: 25px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.Header h1 {
    color: #fff;
    margin: 0;
}


.Header-account img {
    height: 32px;
    margin-right: 10px;
    width: 32px;
}

.Header-account {
    display: flex;
    align-items: center;
}

.Header-account a {
    color: #fff;
    text-decoration: none;
}